@media (min-aspect-ratio: 1/1){
    #userInput{
        width: 30vw;
        height: 80vh;
        float: left;
    }
    #box2{
        width: 30vw;
        height: 80vh;
        float: left;
    }

    .button{
        width: 30vw;
        height: 26vh;
        float: left;
    }
    #button1{
        width: 30vw;
        height: 28vh;
        float: left;
    }
    #box1{
        background-color: aquamarine;
        width: 30vw;
        height: 80vh;
        float: left;
    }
    #output{
        width: 20vw;
        height: 60vh;
        position: relative;
        top: 10vh;
        left: 5vw;
        overflow-wrap: break-word;
    }
    #box{
        width: 92vw;
        height: 60vh;
        position: relative;
        top: 10vh;
        left: 5vw;
    }
}

@media (max-aspect-ratio: 1/1){
    #userInput{
        width: 80vw;
        height: 30vh;
        float: left;
    }
    #box2{
        width: 80vw;
        height: 30vh;
        float: left;
    }

    .button{
        width: 26vw;
        height: 30vh;
        float: left;
    }
    #button1{
        width: 28vw;
        height: 30vh;
        float: left;
    }
    #box1{
        background-color: aquamarine;
        width: 80vw;
        height: 30vh;
        float: left;
    }
    #output{
        width: 80vw;
        height: 20vh;
        position: relative;
        top: 5vh;
        left: 0vw;
        overflow-wrap: break-word;
    }
    #box{
        width: 80vw;
        height: 92vh;
        position: relative;
        top: 0vh;
        left: 5vw;
    }
}